Version: "1.0.1"
Enabled: true
Allow-NonOomph-Conn: false

# Permission for receiving Oomph alerts.
Alert-Permission: "Oomph.Alerts"
# Permission for checking Oomph logs.
Logs-Permission: "Oomph.Logs"

# Prefix for Oomph.
Prefix: "§7§l[§eoomph§7]§r"
# Message that is broadcast to staff, alerting them that a player failed a check.
FlaggedMessage: "{prefix} §d{player} §7flagged §4{check_main} §7(§c{check_sub}§7) §7[§5x{violations}§7] §7{extra_data}"

# Message that is used for the logs command when the player does not have any logs.
NoLogMessage: "{prefix} §aNo logs were found for {player}."
# Message that is used for the logs command when the player has existing logs.
StartLogMessage: "{prefix} §5Log summary for §d{player}:"
LogMessage: "§7- §6Detected for §5{check_main}§7<§d{check_sub}§7> §7[§cx{violations}§7]"

KickMessage: "{prefix} §cKicked for the usage of third-party software."
BanMessage: "{prefix} §cBanned for the usage of third-party software."

Allowed-Connections:
  - "127.0.0.1"

# COMBAT.
AutoClicker:
  A:
    enabled: true
    max_violations: 20
    punishment: none
  B:
    enabled: false
    max_violations: 20
    punishment: none
KillAura:
  A:
    enabled: true
    max_violations: 1
    punishment: kick
Reach:
  A:
    enabled: true
    max_violations: 5
    punishment: kick
  B:
    enabled: true
    max_violations: 5
    punishment: kick
Hitbox:
  A:
    enabled: true
    max_violations: 10
    punishment: kick

# MOVEMENT
Fly:
  A:
    enabled: true
    max_violations: 20
    punishment: kick
Motion:
  A:
    enabled: true
    max_violations: 25
    punishment: kick
  B:
    enabled: true
    max_violations: 10
    punishment: kick
  C:
    enabled: true
    max_violations: 10
    punishment: kick
Velocity:
  A:
    enabled: true
    max_violations: 5
    punishment: kick
  B:
    enabled: true
    max_violations: 5
    punishment: kick

# MISC / VALIDATION
BadPacket:
  A:
    enabled: true
    max_violations: 1
    punishment: kick
  B:
    enabled: true
    max_violations: 1
    punishment: kick
  C:
    enabled: true
    max_violations: 1
    punishment: kick
EditionFaker:
  A:
    enabled: true
    max_violations: 1
    punishment: kick
  B:
    enabled: true
    max_violations: 1
    punishment: kick
Scaffold:
  A:
    enabled: true
    max_violations: 5
    punishment: kick
Timer:
  A:
    enabled: true
    max_violations: 10
    punishment: kick